<input type="file" #audioInput class="d-none" accept="*.mp3,*.wav" (input)="onFileInput($event)">
<div class="row" *ngIf="!audioFileUrl">
    <div class="offset-md-3"></div>
    <div class="col-sm-12 col-md-6">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-12 text-center mt-4">
                    <div class="card p-4 bg-light">
                        <h2>Upload an audio file (mp3/wav)</h2>
                        <button class="btn btn-lg btn-success" (click)="onUploadAction()"><i class="fa fa-upload"></i> Upload</button>
                    </div>
                </div>
                <div class="col-sm-12 text-center mt-4">
                    <span class="text-muted h3"> (OR) </span>
                </div>
                <div class="col-sm-12 text-center mt-4">
                    <div class="card p-4 bg-light">
                        <h2>Load one of the sample audio files</h2>
                        <ul class="list-group list-group-flush">
                            <li *ngFor="let sample of SAMPLE_AUDIO" class="list-group-item">
                                <button class="btn btn-lg btn-block btn-success" (click)="loadSample(sample.filename)">
                                    <i class="fa fa-music"></i>
                                    {{ sample.name }}
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 text-center mt-4">
                    <span class="text-muted h3"> (OR) </span>
                </div>
                <div class="col-sm-12 text-center mt-4">
                    <div class="card p-4 bg-light">
                        <h2>Type a audio file URL</h2>
                        <input type="text" class="mt-2 form-control" placeholder="Example: https://example.com/awesome-music.wav" [(ngModel)]="url"/>
                        <button class="btn btn-success mt-2" [disabled]="!url || !urlRegex.test(url)" (click)="audioFileUrl = url">Go!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-editor *ngIf="audioFileUrl" [audioFileUrl]="audioFileUrl"></app-editor>
<router-outlet></router-outlet>