/* You can add global styles to this file, and also import other style files */
html, body, .container-fluid {
    height: 100vh;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
.bg-darker {
    background-color: #222;
    color: #fff;
}
.vertical-slider {
    transform: rotateZ(270deg);
}